#videoPlayer{
    width: 100%    !important;
    height: 100%   !important;

}

#videoPlayer:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }

body, html{
    margin: 0 !important;
    padding: 0;
}